/*Importando font-Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*-----Reset------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}


/*-----navigation-mobile------*/
header {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(#1A1A1A, #2C2C2C);
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
    justify-items: center;
}

h2 {
    font: normal normal normal 48px/62px Roboto;
    color: #FFFFFF;
    align-self: flex-start;
    letter-spacing: 2px;
}

p {
    font: normal normal normal 14px/26px Roboto;
    color: #B5B5B5;
}

.display-none-mobile {
    display: none;
}

.nav-mobile {
    align-items: center;
    justify-self: flex-start;
}

.nav-mobile img {
    margin: 16px 0 16px 16px;
    width: 15vw;
    max-width: 116px;
}

header.header h1,
header.header p {
    max-width: 600px;
    text-align: center;
    margin: 0 38px;
    color: #FFFFFF;
}

h1 {
    font: normal normal normal 40px/52px Roboto;
    letter-spacing: 0.85px;
    text-transform: capitalize;
}

header.header p {
    width: 75vw;
    max-width: 300px;
    font: normal normal 300 12px/26px Roboto;
    color: #B5B5B5;
    margin-top: 3vh;
}

div.button-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 6vh;
}

.button {
    width: 170px;
    height: 56px;
    border-radius: 5px;
    margin: 0 0 20px 0;
    color: #FFFFFF;
    font-size: 14px;
    transition: .4s ease-in-out
}

.button:hover {
    width: 180px;
    font-size: 16px;
}

.btn-1 {
    background-color: initial;
    border: 1px solid #FFFFFF;
}

.btn-2 {
    background-color: #F89D24;
}

.section-default {
    padding: 43px 24px 0px 24px;
    box-sizing: content-box;
}

/*-----section-clients------*/
section.section-clients {
    background-image: linear-gradient(#1A1A1A, #2C2C2C);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 30px;
    box-sizing: content-box;
}

div.block-border {
    width: 110px;
    height: 105px;
    border: 1px solid #FEC024;
    border-top: 0px;
    position: absolute;
    margin: -43px 0 0 -10px;
    align-self: flex-start;
}

div.grid-column-2 {
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-row-gap: 30px;
}

article.article-clients {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 24px;
    justify-content: center;
}

article.article-clients:hover {
    border: 1.5px solid #FFFFFF;
    box-shadow: 4px 4px 10px #6E6E6E;
}

article.article-clients h5 {
    font: normal normal bold 14px/18px Roboto;
    letter-spacing: 2px;
    color: #F89D24;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
}

/*-----section-value------*/

section.section-value {
    background: linear-gradient(#1a1a1ad8, #2c2c2c1f), url(./img/Fundo-formas.svg) center bottom no-repeat, #1A1A1A;
    background-size: cover;
    background-attachment: fixed;
}

article.article-text h2 {
    font: normal normal normal 41px/52px Roboto;
    text-align: center;
    letter-spacing: 0.85px;
    text-transform: capitalize;
    padding: 40px 24px 40px 24px;
}

article.article-value {
    padding: unset;
    background-color: #F89D24;
    text-align: center;
    padding: 45px 0px;
}

article.article-value h2 {
    letter-spacing: 1.01px;
}

article.article-value button.button-value {
    margin-top: 35px;
    background-color: #FFFFFF;
    color: #F89D24;
    text-transform: uppercase;
}

/*-----section-option------*/
section.section-options {
    background: transparent url('img/teacher.png') 0% 0% no-repeat padding-box;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
}

section.section-options h2 {
    margin-bottom: 30px;
    justify-self: flex-start;
}

section.section-options div.options {
    width: 80vw;
    height: 46px;
    background-color: #686868;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

section.section-options div.options img {
    width: 40px;
    transition: transform .4s ease-in-out
}

.rotate {
    transform: rotate(180deg);

}

section.section-options div.options p {
    color: #FFFFFF;
    font: normal normal bold 18px/31px Roboto;
    letter-spacing: 1px;
}

section.section-options div.options-description {
    width: 80vw;
    padding: 20px;
    box-sizing: border-box;
    background-color: #262626;
    color: #FFFFFF;
    border: 2px solid #F89D24;
    border-left: 0px;
    border-right: 0px;
    display: none;
    animation: show .75s ease-in;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-90px, 0, 0);

    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

section.section-options div.options-description p {
    font: normal normal 300 18px/31px Roboto;
}

/*-----section-teachers------*/

section.section-teachers {
    background: transparent radial-gradient(#2C2C2C 0%, #1A1A1A 100%);
    color: #FFFFFF;
    display: grid;
    grid-template-columns: auto;
}

section.section-teachers h2 {
    margin-bottom: 20px;

}

section.section-teachers div.grid-teachers {
    margin: auto auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 30px;
}

article.article-teacher {
    width: 80vw;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    text-align: center;
}

article.article-teacher:hover {
    border: 1.2px solid #FFFFFF;
    box-shadow: 4px 4px 10px #6E6E6E;
}

article.article-teacher img {
    width: 100%;
}

article.article-teacher h5 {
    color: #F89D24;
    font: normal normal bold 14px/18px Roboto;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

article.article-teacher p {
    font: normal normal bold 16px/26px Roboto;
    margin-top: 5px;
    text-align: left;
    color: #B5B5B5;
}

/*-----section-carousel------*/
section.section-carousel {
    padding: 60px 25px;
    background: url(img/opinion.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

section.section-carousel div.slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    align-items: center;
}

.slide {
    width: 100%;
    height: 100%;
    flex: none;
    align-items: center;
    display: grid;
    grid-column: auto;
    justify-content: center;
    scroll-snap-align: start;
    pointer-events: none;
    scroll-behavior: smooth;
}

div.slides div.prev {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 40px;
    color: #6E6E6E;
    font-size: 50px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border: 10px solid #686868;
    border-top: 0;
    border-right: 0;
}

div.slides div.next {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    right: 40px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border: 10px solid #686868;
    border-bottom: 0;
    border-left: 0;
}

div.bolls {
    width: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

div.bolls div.boll.D {
    background-color: #6E6E6E;
    width: 60px;
    border-radius: 40%;
    transition-duration: 1.5s;
}

div.bolls div.boll {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
}


section.section-carousel h2 {
    color: #FFFFFF;
    font: normal normal normal 40px/52px Roboto;
    letter-spacing: 0.85px;
    max-width: 800px;

}

section.section-carousel p {
    font: normal normal bold 18px/23px Roboto;
    letter-spacing: 2.57px;
    color: #F89D24;
    text-transform: uppercase;
    align-self: center;
    margin: 20px 0px 0px 0px;
}


/*-----section-methodology------*/
section.section-methodology {
    background: radial-gradient(#1A1A1A, #2C2C2C);
}

section.section-methodology ul {
    list-style: circle;
    margin-left: 20px;
}

section.section-methodology ul li {
    font: normal normal bold 14px/18px Roboto;
    letter-spacing: 2px;
    color: #F89D24;
    text-transform: uppercase;
    padding: 30px 0px 0px 0px;
}

section.section-methodology ul>p {
    padding: 10px 0px 0px 0px;
}

section.section-methodology p {

    padding: 10px 0px 0px 0px;
}


/*-----section-question------*/
section.section-question {
    width: 100;
    background: linear-gradient(#2c2c2c63, #1a1a1ab2), url(./img/negociando.png) center bottom no-repeat, #1A1A1A;
    background-size: cover;
    background-attachment: fixed;
}

/*-----footer------*/
footer {
    height: 200px;
    background-color: #0C0C0C;
    text-align: center;
}

footer p {
    padding: 50px 0 0 0;
}

/*-------Formulario Modal-------*/
div.modal {
    background: #2c2c2c96;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    z-index: 2000;

}

@keyframes teste {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);

    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal.mostrar {
    display: flex;
    animation: teste 1s;
}

button.close {
    width: 55px;
    height: 55px;
    position: absolute;
    color: #FFFFFF;
    top: -40px;
    right: -20px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.2em;
    border: 2px solid #686868;

}

form {
    background-image: linear-gradient(#1A1A1A, #2C2C2C);
    width: 70%;
    height: auto;
    max-width: 400px;
    margin: 32px auto;
    padding: 32px;
    padding-top: 40px;
    border: 2px solid #FEC024;
    border-style: inset;
    position: relative;
}

form h2 {
    margin-bottom: 32px;
    font: normal normal normal 40px/62px Roboto;
    position: absolute;
    top: -50px;
    background-color: #6E6E6E;
    padding: 2.5px 20px;
    border-radius: 10px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

div.check {
    display: flex;
    color: #FFFFFF;
    justify-content: flex-start;
    align-items: center
}

input#check {
    width: 40px;
    appearance: auto;
}

form input,
form button {
    appearance: none;
    width: 100%;
    padding: 16px 0;
    border: none;
    border-bottom: 1px solid #F89D24;
    background-color: transparent;
    outline: none;
    color: #FFFFFF;
}

form button {
    margin-top: 16px;
    background-color: #F89D24;
    font: normal normal normal 16px Roboto;
    color: #FFFFFF;
}


input~label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #FFFFFF;
    transition: .4s;
}

input:focus~label,
input:valid~label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


/*------------------*/
@media screen and (min-width:760px) {

    /*------cabeçalho desktop-----*/
    header.header {
        height: 100vh;
        grid-template-rows: 30% 20% 10% 30%;
    }

    div.button-header {
        flex-direction: row;
        justify-content: center;
    }

    .button {
        margin: 0 10px;
    }

    .display-screen-1 {
        display: flex;
    }

    .display-screen-2 {
        display: none;
    }
    /*------Seção clientes-----*/
    section.section-clients div.grid-column-2 {
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        grid-gap: 30px;
    }

    section.section-clients article.article-clients {
        width: 100%;
    }

    /*------Seção Professores-----*/
    section.section-teachers div.grid-teachers {
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        justify-content: center
    }

    div.grid-teachers article.article-teacher {
        width: 100%;
    }

    /*------Footer-----*/
    footer {
        height: 186px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    footer ul.display-screen-1 li.display-screen-1 {
        display: inline;
        color: #B5B5B5;
        margin-left: 10px;
    }

}

/*------------------*/
@media screen and (min-width:1300px) {

    h1 {
        font: normal normal normal 54px/70px Roboto;
        letter-spacing: 1.13px;
    }

    h2 {
        font: normal normal normal 64px/83px Roboto;
        letter-spacing: 1.34px;
        color: #FFFFFF;
    }

    p {
        font: normal normal normal 18px/26px Roboto;
    }

    header.header h1 {
        max-width: 800px;
    }

    header.header p {
        font: normal normal normal 18px/26px Roboto;
        max-width: 500px;
    }

    /*------Seção clientes-----*/
    div.block-border {
        width: 256px;
        height: 206px;
        margin-left: 50px;
    }

    section.section-clients {
        grid-template-columns: 30% 50%;
        grid-template-rows: 60% 20%;
        grid-column-gap: 40px;
        justify-content: center;
    }

    div.grid-column-1 {
        margin-top: 70px;
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
    }

    section.section-clients div.button-header {
        justify-content: flex-start;
    }

    div.grid-column-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 50px;
        justify-items: center;
    }

    article.article-clients {
        width: 100%;
    }

    /*------Seção Valor-----*/
    section.section-value {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
    }

    section.section-value h2 {
        max-width: 800px;
        font-size: 52px;
        margin: auto auto;
    }

    article.article-value {
        margin: 20px 0px 20px 0px;
    }

    /*------Seção Opções-----*/

    .display-none-mobile {
        display: block;
    }

    .display-screen-2 {
        display: none;
    }

    div.display-screen-2 {
        display: none;
    }

    section.section-options {
        background: url(img/teacher2x.png)no-repeat padding-box;
        background-size: cover;
        background-attachment: scroll;
        display: grid;
        grid-template-columns: 20% 50%;
        grid-template-rows: 1fr;
        justify-content: center;
        padding: 127px 0px;
    }

    section.section-options div.column-option {
        width: 100%;
    }

    section.section-options div.column-option div.options:first-child p {
        width: 100%;
        font: normal normal normal 22px/41px Roboto;
        color: #FFFFFF;
        border-bottom: 1px solid #F89D24;
    }

    section.section-options div.column-option p {
        font: normal normal 100 22px/41px Roboto;
        letter-spacing: 0.67px;
        color: #FFFFFF;
        opacity: 1;
    }

    section.section-options div.column-option div.options {
        width: 100%;
        height: 25%;
        padding: 0 0 0 50px;
    }

    section.section-options div.column-description {
        background-color: #262626;
        padding: 72px 123px;
    }

     div.column-description p strong {
        color: #FFFFFF;
    }

     div.column-description div.button-header {
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }

    div.column-description div.button-header>button.button {
        font-size: 11px;
        width: 120px;
    }

    div.button-header>button.button:hover{
        border: 1px solid;
    }

    div.column-description div.button-header>button {
        background-color: inherit;
        border: inherit;
    }

    div.column-description div.button-header>button.btn-2 {
        color: #F89D24;
    }
    /*------Seção Professores-----*/
    section.section-teachers h2 {
        margin-top: 90px;
        margin-left: 130px;
    }

    section.section-teachers div.grid-teachers {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
    }

    .display-desk {
        display: block;
    }

    section.section-teachers article.article-teacher {
        width: 100%;
    }

    /*------Seção Carrosel-----*/
    section.section-carousel {
        padding: 100px 0px;
    }

    section.section-carousel p {
        text-align: right;
        margin: 10px 0vw 0 10px;
        justify-self: end;
    }

    /*------Seção Metodologia-----*/
    section.section-methodology {
        display: grid;
        grid-template-columns: 28% 40%;
        grid-template-rows: 60%;
        grid-gap: 50px 100px;
        justify-content: center;
    }

    section.section-methodology div.button-header {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .column-text,
    .column-list {
        margin-top: 80px;
    }

    section.column-list {
        width: 70%;
    }

    /*------Seção Questão-----*/
    section.section-question {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr;
        height: 100%;
        background: linear-gradient(#2c2c2c63, #1a1a1ab2), url(./img/negociando2x.png) 0% bottom no-repeat, #1A1A1A;
        background-size: contain;
        background-attachment: fixed;
        justify-items: center;
    }

    section.section-question div.img img {
        width: 100%;
    }

    section.section-question div.container-question {
        width: 50%;
        display: grid;
        grid-template-rows: 2fr 2fr 2fr;
        grid-gap: 20px;
    }

    div.container-question div.block-border {
        margin-left: 10%;
    }

    div.container-question h2 {
        margin-top: 100px;
    }

    div.container-question div.button-header {
        justify-content: flex-start;
    }

}